@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <table>
        <tr>
            <td>
                <img src="~/images/logo.gif" />
            </td>
            <td style="padding:25px">
                <h1>Classical albums</h1>


            </td>
        </tr>
    </table>

    <p class="lead">Classical albums is the most popular website in this word for classical music.</p>
    <p><a href="~/Home/Documentation" class="btn btn-primary btn-lg">Documentation &raquo;</a></p>
</div>

<table>
    <tr>
        <td>
            <img src="~/images/image01.jpg" class="images" />
        </td>
        <td>
            <div class="lead" style="padding-left:30px">
                <h2>Welcome</h2>
                <p>
                  This home page you can see the world`s famous singer<br />
                    Welcome to be part of our family! Enjoy it!!
                </p>
                <p><a class="btn btn-default" href="~/Home/Documentation">Documentation &raquo;</a></p>
            </div>
        </td>
    </tr>
</table>
