@model ass3.Models.Albums

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Albums</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Album Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.albumName)
        </dd>

        <dt>
            Year the Album was released
        </dt>

        <dd>
            @Html.DisplayFor(model => model.albumYear)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.albumID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
